/***** Carousel *****/



.carousel {
height: 400px;
overflow: hidden;
}

.carousel-caption {
top: 75px;
font-weight: bold;

   text-shadow:
       3px 3px 20px #000,
     -1px -1px 20px #000,  
      1px -1px 20px #000,
      -1px 1px 20px #000,
       1px 1px 20px #000;

}

.carousel-caption h3 {
font-weight: bold;
font-size:48px;
font-family: Century Gothic, Arial, Helvetica, Verdana, MS Serif, Serif;

   text-shadow:
       3px 3px 20px #000,
     -1px -1px 20px #000,  
      1px -1px 20px #000,
      -1px 1px 20px #000,
       1px 1px 20px #000;

/*text-shadow: 10px 5px 10px #000000;*/
}


/* Centers the Carousel Image */
.carousel-inner > .item > img {
margin: 0 auto;
min-width: 100%;
}

.carousel-caption-wacky {
/*background-color: rgba(0, 0, 0, 0.4);*/
background-color: rgba(0, 0, 0, 0.4);
padding: 1px 5px 10px 5px;
border-radius: 20px;

}

.carousel-caption-wacky p{
font-size:18px;
line-height:22px;
}

.button-big-shadow{
-webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 1);
-moz-box-shadow: 3px 3px 10px rgba(0, 0, 0, 1);
box-shadow: 3px 3px 10px rgba(0, 0, 0, 1);
}

/* Caeousel on small screens */
@media (max-width: 768px) {
	.carousel {
	height: 200px;
	}

	.carousel-caption {
	top: -10px;
	}
	
	.carousel-caption h3 {
font-weight: bold;
font-size:24px;
font-family: Century Gothic, Arial, Helvetica, Verdana, MS Serif, Serif;
   text-shadow:
       3px 3px 20px #000,
     -1px -1px 20px #000,  
      1px -1px 20px #000,
      -1px 1px 20px #000,
       1px 1px 20px #000;
}

.carousel-caption-wacky p{
font-size:16px;
line-height:18px;
}

}
