/***** Carousel *****/



.carousel {
height: 400px;
overflow: hidden;
}

.carousel-caption {
top: 75px;
font-weight: bold;
}

.carousel-caption h3 {
font-weight: bold;
font-size:48px;
font-family: Century Gothic, Arial, Helvetica, Verdana, MS Serif, Serif;
text-shadow: 10px 5px 10px #000000;
}

/* Centers the Carousel Image */
.carousel-inner > .item > img {
margin: 0 auto;
min-width: 100%;
}

.carousel-caption-wacky {
background-color: rgba(0, 0, 0, 0.6);
padding: 1px 5px 10px 5px;
border-radius: 20px;
}

/* Caeousel on small screens */
@media (max-width: 768px) {
	.carousel {
	height: 200px;
	}

	.carousel-caption {
	top: 0px;
	}
	
	.carousel-caption h3 {
font-weight: bold;
font-size:32px;
font-family: Century Gothic, Arial, Helvetica, Verdana, MS Serif, Serif;
}

}
