/***** Dropdown menu *****/
.dropdown-menu {
background-color: #1094C4;
}

/* Add 'navbar-wacky' to 'navbar-default' bootstrap navbars and 'navbar-wacky-nav' to bootstrap navs to get a wacky navbar! */
.navbar-wacky {
background-color: #1094C4;
margin-bottom: 0px;
border-radius: 0px;
border: none;
}

.navbar-wacky-nav {
font-family:Century Gothic, Arial, Helvetica, Verdana, MS Serif, Serif;
font-size: 16px;
font-weight: bold;
}

/*--to center the navigation--*/
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}
/*--end to center the navigation--*/

.navbar-default .navbar-wacky-nav>li>a {
color: #ffffff;
}

.navbar-default .navbar-wacky-nav>li>a:hover { 
color: #FD9A00;
}

.navbar-default .navbar-wacky-nav>.open>a, .navbar-default .navbar-wacky-nav>.open>a:hover, .navbar-default .navbar-wacky-nav>.open>a:focus{
color: #ffffff;
background-color: #1094C4;
}

/** Default nav on small screens **/
@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
	color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover { 
	color: #FD9A00;
	background-color: #ffffff;
	}
}

.navbar-default .navbar-wacky-toggle {
background-color: #ffffff;
}

.nav h4 {
text-align: center;
}

.nav img {
opacity: 0.8;
}

.nav img:hover {
opacity: 1;
}

.nav li {
padding-bottom: 0px;
}