.form-group label{
font-weight:normal;
}

.long-field{
max-width:400px;
}

.short-field{
max-width:150px;
}

.med-field{
max-width:300px;
}

.shipping-choices td{
padding:5px;
}

.cart-display{
overflow-x:scroll;
}