.store-menu-container{
border-top-left-radius:10px;
border-top-right-radius:10px;
border: 2px solid #1094C4;
margin: 10px;
background-color:#ffffff;
}

.store-menu-container .navbar-collapse{
text-align: left;
}

.store-menu-header{
background-color: orange;
color: white;
border-top-left-radius:10px;
border-top-right-radius:10px;
width:100%;
/*height: 25px;*/
padding: 5px;
font-size:18px;
line-height: 25px;
font-weight:bold;
  background: -webkit-linear-gradient(#ffcc99, orange); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#ffcc99, orange); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#ffcc99, orange); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#ffcc99, orange); /* Standard syntax */
}

.store-navbar-brand{
font-size:18px;
line-height: 25px;
font-weight:bold;
color: white;
padding: 0px;
}

.store-navbar-brand:hover{
font-size:18px;
line-height: 25px;
font-weight:bold;
color: black;
padding: 0px;
text-decoration:none;
}

.store-button-preview{
cursor:pointer;
max-width:50%;
display:inline;
float:left;
}

.store-menu-ul{
background-color:#ffffff;
}

.store-menu-ul li:first-child{
margin-top:40px;
}

.store-menu-ul li{
background-color:#ffffff;
border:0;
}

.store-menu-ul a{
text-decoration:none;
background-color:#ffffff;
border:0;
}

.store-menu-ul a:hover{
text-decoration:none;
background-color:#ffffff;
border:0;
}

.store-submenu-item{
padding-top:10px;
padding-left:20px;
padding-right:10px;
padding-bottom:10px;
}

.store-submenu-item:hover{
padding-top:10px;
padding-left:20px;
padding-right:10px;
padding-bottom:10px;
background-color:#eeeeee;
text-decoration:none;
}

.store-item-selected{
font-weight:bold;
}

.no-gutter [class*="-4"] {
    padding-left:0;
		padding-right:0;
}