/********** TOP LEVEL **********/

body {
font-family:Century Gothic, Arial, Helvetica, Verdana, MS Serif, Serif;
font-size:14px;
line-height:16px;
}

p {
font-family:Century Gothic, Arial, Helvetica, Verdana, MS Serif, Serif;
font-size:14px;
line-height:16px;
}


/********** BOOTSTRAP OVERRIDES **********/

/***** Navbar *****/
/* Add 'navbar-wacky' to 'navbar-default' bootstrap navbars and 'navbar-wacky-nav' to bootstrap navs to get a wacky navbar! */
.navbar-wacky {
background-color: #1094C4;
}

.navbar-wacky-nav {
font-family:Century Gothic, Arial, Helvetica, Verdana, MS Serif, Serif;
font-size: 16px;
font-weight: bold;
}

.navbar-default .navbar-wacky-nav>li>a {
color: #ffffff;
}

.navbar-default .navbar-wacky-nav>li>a:hover { 
color: #FD9A00;
}

.navbar-default .navbar-wacky-nav>.open>a, .navbar-default .navbar-wacky-nav>.open>a:hover, .navbar-default .navbar-wacky-nav>.open>a:focus{
color: #ffffff;
background-color: #1094C4;
}

.navbar-default .navbar-wacky-toggle {
background-color: #ffffff;
}

.nav h4 {
text-align: center;
}

.nav img {
opacity: 0.8;
}

.nav img:hover {
opacity: 1;
}

/***** Buttons *****/
.btn-wacky {
background-color: #FD9A00;
}

/********** CUSTOM ELEMENTS **********/
