/* Top Level styles */
@import url("top-level.css");

/* Carousel Styles */
@import url("carousel.css");

/* Navbar Styles */
@import url("navbar.css");



/***** Buttons *****/
.btn {
border-radius: 20px;
}

.btn-wacky {
background-color: #FD9A00;
border-radius: 20px;
font-size: 14px;
font-family: Century Gothic, Arial, Helvetica, Verdana, MS Serif, Serif;
font-weight: bold;
color: white;
}

.btn-wacky-big {
background-color: #FD9A00;
border-radius: 20px;
font-size: 18px;
font-family: Century Gothic, Arial, Helvetica, Verdana, MS Serif, Serif;
font-weight: bold;
color: white;
-webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 1);
-moz-box-shadow: 3px 3px 10px rgba(0, 0, 0, 1);
box-shadow: 3px 3px 10px rgba(0, 0, 0, 1);
}

@media (min-width: 767px) {
	.btn-wacky-lg {
	margin-top: 24px;
	margin-left: 3px;
	}
}

/***** Modals *****/
.modal-content {
border-radius: 20px;
}

.modal-title {
color: #1094C4 !important;
}

/***** Thumbnails *****/
.thumbnail {
border-radius: 20px;
}





/********** CUSTOM ELEMENTS **********/

.caption {
font-size: 12px;
text-align: center;
font-style: italic;
}

.icon {
font-size: 80px;
text-align: center;
margin: 20px;
color: #333;
}

.create-icon {
font-size: 50px;
text-align: center;
margin: 5px;
color: #333;
}

.order-icon {
font-size: 80px;
text-align: center;
margin: 5px;
color: #333;
}

.responsive-table {
max-width: 100%;
overflow: scroll;
}

.services {
padding-bottom: 40px;
}

.wacky-footer {
background-color: #FD9A00;
padding-top: 50px;
padding-bottom: 50px;
}

.social-icons {
margin-top: 5px;
}

.footer-menu {
margin-top: 5px;
}

/** products **/
.products {
max-width: 100%;
}

.products h4{
text-align: center;
}

.products h2{
text-align: center;
color: white;
}

.products img {
opacity: 0.7;
/*
-webkit-filter: grayscale(1);
filter: grayscale(1);
*/
}

.products img:hover {
opacity: 1;
/*
-webkit-filter: grayscale(0);
filter: grayscale(0);
*/
}

.create-thumbnail{
height:265px;
max-width: 250px;
margin-left:auto;
margin-right:auto;
padding-left:5px;
padding-right:5px;
/*opacity:0.85;*/
}

.order-thumbnail{
height:245px;
max-width: 250px;
margin-left:auto;
margin-right:auto;
padding-left:5px;
padding-right:5px;
}

.product-thumbnail{
max-width: 225px;
margin-left:auto;
margin-right:auto;

}

/***** Utilities *****/
.u-border-blue {
border: 1px #1094c4 solid;
border-radius: 20px;
padding: 20px;
margin-right:2px;
}

.u-blue {
background-color: #1094C4;
}

.u-texture {
background-image: url('http://www.wackybuttons.com/images/handmadepaper.png');
background-repeat: repeat;
}

.u-center {
text-align: center;
}

.u-block-center{
margin-left:auto;
margin-right:auto;
}



/***** For modal in store, dclookup, and preview pages *****/
.multiple-add-cell{
margin-bottom:15px;
}

/*** For size comparision table in product modals **/
.size-compare-table td{
padding:10px;
}

.size-compare-table img{
max-height:75px;
max-width:75px;
}

/*** For sizing form fields **/

.long-field{
max-width:400px;
}

.short-field{
max-width:150px;
}

.med-field{
max-width:300px;
}


/*** front page design section **/

.no-decoration:hover{
text-decoration:none;
}

.image-tab-link{
width:225px;
height:40px;
padding:5px;
text-align:center;
/*
border: 1px #FD9A00 solid;
border-top-left-radius:10px;
border-top-right-radius:10px;
background-color: #FD9A00;
color: #ffffff;*/
}

/*
.image-tab-link:hover{
width:225px;
height:40px;
padding:5px;
text-align:center;
border: 1px #000000 solid;
border-top-left-radius:10px;
border-top-right-radius:10px;
background-color: #FD9A00;
color: #ffffff;
text-decoration:none;
}
*/

.image-tab-content{
max-width:225px;
border-radius:10px;
/*
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
*/
border:1px solid black;
}