---
layout: wackybuttons
---

{% include carousel.html %}
{% include services.html %}


{% include products/products.html %}	

<div class="container">
	<hr>
	<div class="row">
		<div class="col-md-3">
			<div class="icon">
				<span class="fa fa-envelope-o"></span>
			</div><!-- icon -->
			<h4>Get deals! Sign up for our newsletter.</h4>
			* Mailchimp subscription form goes here
		</div><!-- col-md-3 -->
		<div class="col-md-3">
			<div class="icon">
				<span class="fa fa-phone"></span>
			</div><!-- icon -->
			<h4>+1 585-267-7670</h4>
			<p style="text-align:center;">Call M-F 9-5 E.S.T.</p>
		</div><!-- col-md-3 -->
		<div class="col-md-3">
			<div class="icon">
				<span class="fa fa-question"></span>
			</div><!-- icon -->
			<h4>Questions? Get help here!</h4>
		</div><!-- col-md-3 -->
		<div class="col-md-3">
			<div class="icon">
				<span class="fa fa-check"></span>
			</div><!-- icon -->
			<h4>Read wacky reviews</h4>
		</div><!-- col-md-3 -->
	</div><!-- row -->
	<hr>
</div><!-- container -->

<!-- OLD CODE THAT MIGHT STILL BE NEEDED -->
<!-- 
	<div class="row">
		<div class="col-md-6">
			<h2>Quick price and turnaround</h2>
		</div><!~~ col-md-6 ~~>
		<div class="col-md-6">
		</div><!~~ col-md-6 ~~>
	</div><!~~ row ~~>
	<hr>
	<div class="row">
		<div class="col-md-6">
			<img class="img-responsive" src="http://www.wackybuttons.com/images/home/wbidsscreensmall.jpg">
		</div><!~~ col-md-6 ~~>
		<div class="col-md-6">
			<h2>It is FREE to design your buttons</h2>
			<p>Have one of our talented artists design your buttons for you or use our online design studio to create your custom
buttons fast!</p>
		</div><!~~ col-md-6 ~~>
	</div><!~~ row ~~>
	<hr>
	<div class="row">
		<div class="col-md-6">
			<h2>Looking for a Button Machine?</h2>
		</div><!~~ col-md-6 ~~>
		<div class="col-md-6">
			<img class="img-responsive" src="http://www.wackybuttons.com/images/home/umake.gif">
		</div><!~~ col-md-6 ~~>
	</div><!~~ row ~~>
	<hr>
 -->