---
layout: wackybuttons
---

{% include carousel.html %}
	
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h2>We Make Custom Buttons For You</h2>
			<li><strong>FREE graphic design</strong></li>
			<li><strong>No minimum order</strong></li>
			<li><strong>Possible to get your buttons tomorrow</strong></li>
			<li>Overnight and Same Day shipping is available</li>
			<li>500 buttons or less ships the day after you pay</li>
			<li>Pay nothing until you see how your buttons look</li>
			<li>We ship worldwide</li>
			<li>100% Made in the USA</li>
			<li>Resellers and Dropshippers welcome</li>
			<li>Sizes we make: 1 inch - 1.5 inch - 2.25 inch - 3 inch</li>
			<li>Order online or by phone (585-267-7670)</li>
		</div><!-- col-md-6 -->
		<div class="col-md-6">
		</div><!-- col-md-6 -->
	</div><!-- row -->
	<hr>
</div><!-- container -->

		{% include products.html %}	
		
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h2>Quick price and turnaround</h2>
		</div><!-- col-md-6 -->
		<div class="col-md-6">
		</div><!-- col-md-6 -->
	</div><!-- row -->
	<hr>
	<div class="row">
		<div class="col-md-6">
		</div><!-- col-md-6 -->
		<div class="col-md-6">
			<h2>It is FREE to design your buttons</h2>
			<p>Have one of our talented artists design your buttons for you or use our online design studio to create your custom
buttons fast!</p>
		</div><!-- col-md-6 -->
	</div><!-- row -->
	<hr>
	<div class="row">
		<div class="col-md-6">
			<h2>Looking for a Button Machine?</h2>
		</div><!-- col-md-6 -->
		<div class="col-md-6">
		</div><!-- col-md-6 -->
	</div><!-- row -->
	<hr>
</div><!-- container -->