---
layout: wackybuttons
---

{% include carousel.html %}
{% include services.html %}


{% include products/products.html %}	
		
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h2>Quick price and turnaround</h2>
		</div><!-- col-md-6 -->
		<div class="col-md-6">
		</div><!-- col-md-6 -->
	</div><!-- row -->
	<hr>
	<div class="row">
		<div class="col-md-6">
			<img class="img-responsive" src="http://www.wackybuttons.com/images/home/wbidsscreensmall.jpg">
		</div><!-- col-md-6 -->
		<div class="col-md-6">
			<h2>It is FREE to design your buttons</h2>
			<p>Have one of our talented artists design your buttons for you or use our online design studio to create your custom
buttons fast!</p>
		</div><!-- col-md-6 -->
	</div><!-- row -->
	<hr>
	<div class="row">
		<div class="col-md-6">
			<h2>Looking for a Button Machine?</h2>
		</div><!-- col-md-6 -->
		<div class="col-md-6">
			<img class="img-responsive" src="http://www.wackybuttons.com/images/home/umake.gif">
		</div><!-- col-md-6 -->
	</div><!-- row -->
	<hr>
</div><!-- container -->