---
layout: wackybuttons
---
<div class="products u-blue">
	<div class="container">
		<div class="row">
			<h2>Button products we make</h2>
		</div><!-- row -->
		<div class="row">
			{% include products/standard_pinback.html %}
			{% include products/refrigerator_magnet.html %}
			{% include products/clothing_magnet.html %}
			{% include products/bottle_opener.html %}
		</div><!-- row -->
		<div class="row">
			{% include products/mirror.html %}
			{% include products/clip.html %}
			{% include products/nothing.html %}
			<div class="col-md-3">
			</div><!-- col-md-3 -->  
		</div><!-- row -->
	</div><!-- container -->
</div><!-- products -->
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			{% include affiliates.html %}
			<div style="margin-bottom:10px;"></div>
		</div><!-- col-md-6 col-md-offset-3 -->
	</div><!-- row -->
</div><!-- container -->
