---
layout: wackybuttons
---

<div class="container"><!-- begin page container -->

<h1>Button products we make</h1>

<div class="products">
	<div class="container">
		<div class="row">
			
			<!--spacer--><div style="margin-bottom:10px;"></div><!--spacer-->
			
		</div><!-- row -->
		<div class="row">
			{% include products/standard_pinback.html %}
			{% include products/refrigerator_magnet.html %}
			{% include products/clothing_magnet.html %}
			{% include products/bottle_opener.html %}
		</div><!-- row -->
		<div class="row">
			{% include products/mirror.html %}
			{% include products/clip.html %}
			{% include products/nothing.html %}
			<div class="col-md-3">
				<!--a href="{{ site.baseurl }}/help.html">
					<button class="btn btn-default btn-wacky" style="margin-top:65px;">Need Help?</button>
				</a-->
			</div><!-- col-md-3 -->  
		</div><!-- row -->
	</div><!-- container -->
</div><!-- products -->
<div class="container">
	<div class="row">
		<div class="col-md-6">
			{% include products/packaging.html %}
		</div><!-- col-md-6 -->
		<div class="col-md-6">
			{% include affiliates.html %}
		</div><!-- col-md-6 -->
	</div><!-- row -->
	
	<!--spacer--><div style="margin-bottom:10px;"></div><!--spacer-->
	
</div><!-- container -->

</div><!-- end page container -->
