<h2>You may also be interested in</h2>
<!--begin affiliates-->
<!--div class="row">
	<div class="col-md-12"-->
		
		<img class="img-responsive" src="http://www.wackybuttons.com/images/home/umake.gif" style="float:left; width:225px; height:250px; ">
		<b>Looking for a Button Machine?</b><br /> <br />
		Learn how to make your own buttons. All you need is paper. The rest of the supplies, machines, and button parts can be found here:
		<br /> <br />
		<a href="http://www.umakebuttons.com">www.umakebuttons.com</a>
  	<!--/div>
</div><!--row-->		 
<!--endaffiliates-->