<h2>You may also be interested in</h2>
<!--begin affiliates-->
<div class="row u-border-blue">
	<div class="col-md-6">
		<div class="u-center"><b>Looking for a Button Machine?</b></div>
		<img class="img-responsive u-block-center" src="http://www.wackybuttons.com/images/home/umake.gif">
		<br />
		Learn how to make your own buttons. All you need is paper. The rest of the supplies can be found here:
		<br /> <br />
		<a href="http://www.umakebuttons.com">www.umakebuttons.com</a>
  	</div><!--col-md-6-->
	<div class="col-md-6">
		<div class="u-center"><b>Custom T-shirts, Totes, and Other Apparel</b></div>
		<div class="img-responsive u-block-center" style="width:120px;height:125px;border:1px solid black;">image place holder</div>
		<br />
		If you love Wacky Buttons, see how we do T-shirts and Apparel.
		<br /> <br />
		 <a href="#">coming soon...</a>
	</div><!--col-md-6-->
</div><!--row-->		 
<!--endaffiliates-->