<h2>You May Also Be Interested In</h2>
<!--begin affiliates-->
<!--div class="row">
	<div class="col-md-12"-->
		
		<a href="http://www.umakebuttons.com"><img class="img-responsive" src="http://www.wackybuttons.com/images/home/umake.jpg" style="float:left;"></a>
		<b>Looking for a Button Machine?</b><br /> <br />
		Learn how to make your own buttons. All you need is paper. The rest of the supplies, machines, and button parts can be found here:
		<br /> <br />
		<a href="http://www.umakebuttons.com">www.umakebuttons.com</a>
  	<!--/div>
</div><!--row-->		 
<!--endaffiliates-->