<div class="container">
	<div class="row">
		<div class="col-md-8">
			<a href="{{ site.baseurl }}">
				<img src="{{ site.baseurl }}/img/banner.jpg" class="img-responsive center-block">
			</a>
		</div><!-- col-md-8 -->
		<div class="col-md-4">
			<div class="row pull-right">
					<button class="btn btn-lg btn-default btn-wacky-lg"><span class="fa fa-paint-brush"></span> My Designs</button><button class="btn btn-lg btn-default btn-wacky-lg"><span class="fa fa-shopping-cart"></span> My Cart</button>
			</div><!-- row -->
		</div><!-- col-md-4 -->
	</div><!-- row -->
</div><!-- container -->