<div class="container">
	<div class="row">
		<div class="col-md-8">
			<a href="{{ site.baseurl }}/">
				<img src="http://www.wackybuttons.com/images/banners/banner_main.jpg" class="img-responsive center-block">
			</a>
		</div><!-- col-md-8 -->
		<div class="col-md-4">
			<div class="row pull-right">
					<button class="btn btn-lg btn-default btn-wacky-lg" data-toggle="modal" data-target="#dialog_win" onclick="my_design_window();"><span class="fa fa-paint-brush"></span> My Designs</button><button class="btn btn-lg btn-default btn-wacky-lg" data-toggle="modal" data-target="#dialog_win" onclick="my_cart_window();"><span class="fa fa-shopping-cart"></span> My Cart</button>
			</div><!-- row -->
		</div><!-- col-md-4 -->
	</div><!-- row -->
</div><!-- container -->