<div class="container" style="padding-top:10px;padding-bottom:15px;">
<hr />
	<div class="row">
		<div class="col-md-3">
			<div class="icon">
				<span class="fa fa-envelope-o"></span>
			</div><!-- icon -->
			<h4>Get deals! Sign up for our newsletter.</h4>
			* Mailchimp subscription form goes here
		</div><!-- col-md-3 -->
		<div class="col-md-3">
			<div class="icon">
				<span class="fa fa-phone"></span>
			</div><!-- icon -->
			<h4>+1 585-267-7670</h4>
			<p style="text-align:center;">Call M-F 9-5 E.S.T.</p>
		</div><!-- col-md-3 -->
		<div class="col-md-3">
		<a href="{{ site.baseurl }}/help.html">
			<div class="icon">
				<span class="fa fa-question"></span>
			</div><!-- icon -->
			<h4>Questions? Get help here!</h4>
			</a>
		</div><!-- col-md-3 -->
		<div class="col-md-3">
		<a href="http://www.yelp.com/biz/wacky-buttons-inc-east-rochester">
			<div class="icon">
				<span class="fa fa-check"></span>
			</div><!-- icon -->
			<h4>Read wacky reviews</h4>
<div class="u-center"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></div>
</a>
		</div><!-- col-md-3 -->
	</div><!-- row -->
</div><!-- container -->