<!--Start Designing-->
<h2>It is FREE to design your buttons</h2>
<div style="vertical-align: text-top; text-align:center; float:left; margin-right:10px;" >
	<a href="#" title="Design your buttons online with our design studio">
	<img src="img/wbids-sm.jpg" class="img-responsive" width="175" height="175" alt="Design Your Buttons Now!" />
	<br />
	Goto the Design Studio >>
	</a>
</div>
<div>
	Use our online design studio to create your custom buttons fast!
	<br /> <br />
	or Have one of our talented artists design your buttons for you for FREE.
	<br /> <br />
	<a href="#"><button class="btn btn-default btn-wacky pull-right">Start Designing Here</button></a>
</div>
<!--end Start Designing-->