<!--Start Designing-->
<h2>It is FREE to Design Your Buttons</h2>

<div class="row">
<div class="col-md-6">

<a href="{{ site.baseurl }}/studio.html" class="no-decoration">
<img src="http://www.wackybuttons.com/images/home/wbids.jpg" class="image-tab-content" alt="Design Your Buttons Now with our online button design studio!" />
<div class="image-tab-link">Use our design studio to create your custom buttons fast!</div>

</a>

</div><!--col-md-6-->
<div class="col-md-6">

<a href="{{ site.baseurl }}/letusdesign.html" class="no-decoration">
<img src="http://www.wackybuttons.com/images/home/chat.jpg" class="image-tab-content" alt="Design your buttons with the help of our artists!" />
<div class="image-tab-link">Chat with an artist who can design your buttons.</div>
</a>

</div><!--col-md-6-->

</div><!--row-->

<div class="row" style="margin-top:10px;">
<div class="col-md-12">
<a href="{{ site.baseurl }}/create.html"><div class="btn btn-default btn-wacky pull-right">Start Designing >></div></a>
</div><!--col-md-12-->
</div><!--row-->


<!--
<div style="vertical-align: text-top; text-align:center; float:left; margin-right:10px;" >
	<a href="#" title="Design your buttons online with our design studio">
	<img src="img/wbids-sm.jpg" class="img-responsive" width="175" height="175" alt="Design Your Buttons Now!" />
	<br />
	Go To Online Design Studio
	</a>
</div>

<div>

	Use our online design studio to create your custom buttons fast!
	<br /> <br />


	or Have one of our talented artists design your buttons for you for FREE.
	
	<div>
	<div style="float:left;"><br /><a href="{{ site.baseurl }}/letusdesign.html">Talk to an Artist</a></div>
	<img src="img/artist.gif" class="img-responsive" width="100" height="100" alt="Our artist can design buttons for FREE!" />
	</div>
	

	
	
	<a href="{{ site.baseurl }}/create.html"><div class="btn btn-default btn-wacky pull-right">Start Designing</div></a>


</div>
-->

<!--end Start Designing-->