<div class="wacky-footer">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<address>
					<strong>Wacky Buttons, Inc.</strong></br>
					101 Lincoln Parkway Suite A</br>
					East Rochester, NY 14445</br>
					</br>
					<strong>Tel: +1 585-267-7670</br>
					Email: order@wackybuttons.com</strong>
				</address>
			</div><!-- col-md-8 -->
			<div class="col-md-4">
				<div class="row">
					<a href="http://www.bbb.org/upstate-new-york/business-reviews/business-promotions-general/wacky-buttons-inc-in-east-rochester-ny-173633931/#bbbonlineclick"><img class="img-responsive" src="http://seal-upstateny.bbb.org/seals/blue-seal-200-42-wacky-buttons-inc-173633931.png"></a>
				</div><!-- row -->
				<div class="row social-icons">
				
					<!-- Go to www.addthis.com/dashboard to customize your tools -->
					<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54eccd9862b1f7d9" async="async"></script>
					<!-- Go to www.addthis.com/dashboard to customize your tools -->
					<div style="margin-bottom:10px;" class="addthis_horizontal_follow_toolbox"></div>

		<!-- 
			<a href="http://www.facebook.com/wackybuttons" title="visit our facebook page"><img src="http://www.wackybuttons.com/images/socialmediaicons/facebook.png" width="24" height="24" alt="facebook" border="0" style="display:inline;" /></a>
					<a href="http://twitter.com/#!/wackybuttons" title="visit our twitter page"><img src="http://www.wackybuttons.com/images/socialmediaicons/twitter.png" width="24" height="24" alt="twitter" border="0" style="display:inline;" /></a>
					<a href="https://plus.google.com/share?url=http://www.wackybuttons.com" title="Recommend us on Google plus"><img src="http://www.wackybuttons.com/images/socialmediaicons/googleplus.png" width="24" height="24" alt="google plus" border="0" style="display:inline;" /></a>
					<a href="http://www.pinterest.com/wackybuttons" title="check us out on pinterest"><img src="http://www.wackybuttons.com/images/socialmediaicons/pinterest.png" width="24" height="24" alt="pinterest" border="0" style="display:inline;" /></a>
					<a href="http://www.linkedin.com/pub/wacky-buttons/21/570/445" title="see our linkedin profile"><img src="http://www.wackybuttons.com/images/socialmediaicons/linkedin.png" width="24" height="24" alt="linkedin" border="0" style="display:inline;" /></a>
					<a href="http://www.myspace.com/wackybuttons" title="visit our myspace page"><img src="http://www.wackybuttons.com/images/socialmediaicons/myspace.png" width="24" height="24" alt="myspace" border="0" style="display:inline;" /></a>
					<a href="http://instagram.com/wacky_buttons#" title="visit us on instagram"><img src="http://www.wackybuttons.com/images/socialmediaicons/instagram.png" width="24" height="24" alt="instagram" border="0" style="display:inline;" /></a>
					<a href="http://www.youtube.com/wackybuttons" title="visit our youtube channel"><img src="http://www.wackybuttons.com/images/socialmediaicons/youtube.png" width="24" height="24" alt="youtube" border="0" style="display:inline;" /></a>
				
 -->
				</div><!-- row -->
				<div class="row social-icons">
					<!--facebook logo-->
					<div class="fb-like" data-href="https://www.facebook.com/wackybuttons" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
					<!--end facebook logo-->
				</div><!-- row -->
				<div class="row social-icons">	
					<!--ccpaypal logo-->
					<img src="http://www.wackybuttons.com/images/ppcc2.gif" width="161" height="27" alt="ppcc (2K)" />
					<!--end ccpaypal logo-->
				</div><!-- row -->
			</div><!-- col-md-4 -->
		</div><!-- row -->
		<div class="footer-menu">
			<p><a href="#">Terms of Use</a> | <a href="#">Terms & Conditions</a> | <a href="#">Privacy Policy</a></p>
		</div><!-- footer-menu -->
	</div><!-- container -->
</div><!-- wacky-footer -->

{% include products/products_modals.html %}
{% include modal.html %}