<!-- jQuery -->
<script src="{{ site.baseurl }}/plugins/jquery/jquery-1.11.1.min.js"></script>
<!-- Bootstrap js -->
<script src="{{ site.baseurl }}/plugins/bootstrap/js/bootstrap.min.js"></script>

<!-- face book script -->
<div id="fb-root"></div>
<script>
/* <![CDATA[ */
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
/* ]]> */
</script>
<!-- end face book script -->

<!-- pinterest script -->
<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
<!-- pinterest script -->

<!-- Fitvids Script -->
	<script src="{{ site.baseurl }}/plugins/jquery.fitvids.js"></script>
	<script>
  $(document).ready(function(){
    // Target your .container, .wrapper, .post, etc.
    $(".fitvids").fitVids();
  });
	</script>