<title>Make Buttons | Pin Buttons | Custom Buttons | Badge Pins | Pinback Buttons</title>

<meta charset="utf-8"> 
<meta name="description" content="We sell pinback button badges and specialize in making custom buttons. Create your own buttons online, Let us design them for free, or choose from our large selection. Design setup is easy and our turnaround is lightning fast." />
<meta name="keywords" content="make buttons, pin buttons, button maker, pinback buttons, custom buttons, buttons pins, promotional buttons, novelty buttons, button badge, metal button, campaign buttons" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Fav and Apple icons -->
<link rel="icon" type="image/png" href="http://www.wackybuttons.com/images/icon.png" />
<link rel="apple-touch-icon" sizes="76x76" href="http://www.wackybuttons.com/images/touch-icon-ipad.png">
<link rel="apple-touch-icon" sizes="120x120" href="http://www.wackybuttons.com/images/touch-icon-iphone-retina.png">

<!-- Font Awesome CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<!-- Yamm Mega Menu CSS -->
<link href="{{ site.baseurl }}/plugins/yamm/yamm.css" title="compact" rel="stylesheet" type="text/css" />
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Custom CSS -->
<link href="{{ site.baseurl }}/css/style.css" title="compact" rel="stylesheet" type="text/css" />

<!-- Custom CSS to include -->
{{ page.css_inc }}