<div class="modal fade" id="dialog_win" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        		<h2 class="modal-title" id="dialog_title">Title</h2>
      		</div><!-- modal-header -->
      		<div class="modal-body" id="dialog_content">
      		
				
      		</div><!-- modal-body -->
      		<div class="modal-footer" id="dialog_footer">
        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      		</div><!-- modal-footer -->
    	</div><!-- modal-content -->
	</div><!-- modal-dialog -->
</div><!-- modal fade -->