<div class="container" style="padding-top:10px;padding-bottom:15px;">
<hr />
	<div class="row">
		<div class="col-md-12">
			<h2 style="color:red;">News and Alerts</h2>
			
			<ul>
<!--li style="color:red">We will be closed Monday, September 1, 2014 for Labor Day. Expect shipping delays since UPS and the US Postal Service are also closed during the holiday.</li-->
<!--li>We will be closed closed Wednesday, December 31 and Thursday, January 1 for New Years. From all of us at Wacky Buttons, we hope you enjoy the holidays!</li-->
<li>5/1/2015 - We launched a new website. We hope you enjoy it.</li>
<li>11/1/2014 - We've Moved! We are at the same address but in Suite A. Thank you to all our customers! You have helped us outgrow another location.</li>
<li>3/13/2014 - We have released a new type of <a href="http://www.wackybuttons.com/products.php?product=clothing%20magnet">clothing/shirt magnet button</a>. We are proud to introduce this improved product since it is safer and more durable than what we were selling in the past. Also we have lowered the price!</li>
<li>We released a new online <a href="http://www.wackybuttons.com/studio.php">button design studio</a>. It uses the latest technology provided by newer web browsers and mobile devices.</li> 
<li><b>Get 10% off</b> your next button order with our referral program. <a href="http://www.wackybuttons.com/referral.php">Find out how!</a></li>

<li>Try our NEW <a href="http://www.wackybuttons.com/letusdesign.php">Free Live Artist Chat</a>. You can chat online live with one of our artists to get your buttons designed free of charge.</li>
</ul>
			
		</div><!-- col-md-12 -->
	</div><!-- row -->
</div><!-- container -->