<div class="services u-texture">
	<div class="container">
		<div class="col-md-8 col-md-offset-2">
			<div class="row">
				<h2 style="text-align:center;">We Make Custom Buttons For You</h2>
			</div><!-- row -->
			<div class="row">
				<div class="col-md-4">
					<div class="icon">
						<span class="fa fa-paint-brush"></span>
					</div><!-- icon -->
					<h4>FREE graphic design</strong>
				</div><!-- col-md-4 -->
				<div class="col-md-4">
					<div class="icon">
						<span class="fa fa-thumbs-up"></span>
					</div><!-- icon -->
					<h4>No minimum order</h4>
				</div><!-- col-md-4 -->
				<div class="col-md-4">
					<div class="icon">
						<span class="fa fa-truck"></span>
					</div><!-- icon -->
					<h4>Possible to get your buttons tomorrow</h4>
				</div><!-- col-md-4 -->
			</div><!-- row -->
			<div class="row">
				<div class="col-md-6">
					<li>Overnight and Same Day shipping is available</li>
					<li>500 buttons or less ships the day after you pay</li>
					<li>Pay nothing until you see how your buttons look</li>
					<li>We ship worldwide</li>
				</div><!-- col-md-6 -->
				<div class="col-md-6">
					<li>100% Made in the USA</li>
					<li>Resellers and Dropshippers welcome</li>
					<li>Sizes we make: 1 inch - 1.5 inch - 2.25 inch - 3 inch</li>
					<li>Order online or by phone (585-267-7670)</li>
				</div><!-- col-md-6 -->
			</div><!-- row -->
		</div><!-- col-md-8 col-md-offset-2 -->
	</div><!-- container -->
</div>