<!-- #nothing -->
<div class="col-md-2">
	<a href="#" data-toggle="modal" data-target="#nothing">
		<div class="thumbnail">
			<img src="http://www.wackybuttons.com/images/products/nobackmouseover.jpg" class="img-responsive center-block">
			<h4>Nothing on Back</h4>
		</div><!-- thumbnail -->
	</a>
</div><!-- col-md-2 --> 
				
				
				
				
<!---------- Modal ---------->

<!-- #nothing -->
<div class="modal fade" id="nothing" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        		<h2 class="modal-title" id="myModalLabel">Nothing on Back</h2>
      		</div><!-- modal-header -->
      		<div class="modal-body">
      		
				<!----- CONTENT ----->      		
				<iframe src="//player.vimeo.com/video/113842510?title=0&amp;byline=0&amp;portrait=0" width="100%" height="350px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				<p>Buttons are great for political, special interest campaigns, or fundraising! Promote a product, band, event, idea, or yourself! Express yourself by pinning your buttons on your clothing, hat, backpack, or purse!</p>
				<h4>Available in the following sizes</h4>
				<img src="http://www.wackybuttons.com/images/products/sizescompare.jpg" alt="pin back buttons different button sizes" class="img-responsive center-block" />
				<p class="caption">The pictures above are not to scale. We recommend using a standard unit of measurement like a ruler to get the best idea of the actual size.</p>
				<h4>Size Comparisons</h4>
				<div class="u-border-blue">
					<table>
						<tr><td><b>Size</b></td><td><b>Common Household Object</b></td></tr>
						<tr><td>1 inch</td><td>US quarter</td></tr>
						<tr><td>1.5 inch</td><td>gallon milk jug or dixie cup bottom</td></tr>
						<tr><td>2.25 inch</td><td>soda can top</td></tr>
						<tr><td>3 inch</td><td>campbells chunky soup can top</td></tr>
					</table>
					<a href="http://www.wackybuttons.com/documents/products/wbcomparison.pdf"><img src="http://www.wackybuttons.com/images/products/pdfproduct.jpg" width="221" height="50" alt="Download and print this -Button Sizes (PDF)- to see exact button sizes." border="0" class="center-block" /></a>
				</div><!-- u-border-blue -->
				<h4>Product Specifications</h4>
				<div class="u-border-blue">
					<li>The entire button is made of 5 pieces (Clasp Pin, Metal Back, Metal Shell, Paper Graphic, Clear Plastic Cover)</li>
					<li>The metal components are made of tin-plated steel</li>
					<li>We print using high quality Epson Photo Inkjet Printers (Digital CMYK).</li>
					<li>The paper we use is a special ordered thin custom bright white paper with a matte finish specifically designed for superior color quality and brightness for inkjet printing.</li>
					<!--li>We have had graphic professionals tell us they actually prefer our printing quality to professional digital offset printing because of the quality and cost.</li-->
					<li>All products are made in the USA</li>
					<li>Please note: Our buttons are not waterproof. The metal will rust when exposed to moisture over time. The ink on the paper can also fade after being exposed to lots of sunlight over time.</li>
				</div><!-- u-border-blue -->

      		</div><!-- modal-body -->
      		<div class="modal-footer">
        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        		<button type="button" class="btn btn-primary btn-wacky">Order</button>
      		</div><!-- modal-footer -->
    	</div><!-- modal-content -->
	</div><!-- modal-dialog -->
</div><!-- modal fade -->