<h2>Custom Button Packaging</h2>
<!--begin affiliates-->
<div class="row">
	<div class="col-md-6">
	<a href="#" data-toggle="modal" data-target="#dialog_win" onclick="prod_packaging_bags();">
		<div class="thumbnail product-thumbnail">
			<img src="http://www.wackybuttons.com/images/products/baggedmouseover.jpg" class="img-responsive center-block">
			<h4>Bag Packaging</h4>
		</div><!-- thumbnail -->
	</a>
  	</div><!--col-md-6-->
	<div class="col-md-6">
	<a href="#" data-toggle="modal" data-target="#dialog_win" onclick="prod_packaging_cards();">
		<div class="thumbnail product-thumbnail">
			<img src="http://www.wackybuttons.com/images/products/pinnedcardsmouseover.jpg" class="img-responsive center-block">
			<h4>Pinned Card Packaging</h4>
		</div><!-- thumbnail -->
	</a>
	</div><!--col-md-6-->
</div><!--row-->		 
<!--endaffiliates-->