<h2>Button Packaging</h2>
<!--begin affiliates-->
<div class="row u-border-blue">
	<div class="col-md-6">
		<div class="u-center"><b>Bag Packaging</b></div>
		<a href="#" data-toggle="modal" data-target="#packaging-bags"><img class="img-responsive u-block-center" src="http://www.wackybuttons.com/images/products/baggedmouseover.jpg"></a>
		<br />
		We offer custom packaging options available upon request.
		<br /> <br />
		<a href="#" data-toggle="modal" data-target="#packaging-bags">Learn More</a>
  	</div><!--col-md-6-->
	<div class="col-md-6">
		<div class="u-center"><b>Pinned Card Packaging</b></div>
		<a href="#" data-toggle="modal" data-target="#packaging-cards"><img class="img-responsive u-block-center" src="http://www.wackybuttons.com/images/products/pinnedcardsmouseover.jpg"></a>
		<br />
		If you love Wacky Buttons, see how we do T-shirts and Apparel.
		<br /> <br />
		 <a href="#" data-toggle="modal" data-target="#packaging-cards">Learn More</a>
	</div><!--col-md-6-->
</div><!--row-->		 
<!--endaffiliates-->