<div class="products u-blue">
	<div class="container">
		<div class="row">
			<h2>Button Products We Make</h2>
		</div><!-- row -->
		<div class="row">
			{% include products/standard_pinback.html %}
			{% include products/refrigerator_magnet.html %}
			{% include products/clothing_magnet.html %}
			{% include products/bottle_opener.html %}
		</div><!-- row -->
		<div class="row">
			{% include products/mirror.html %}
			{% include products/clip.html %}
			{% include products/nothing.html %}
			<div class="col-md-3">
					<a href="{{ site.baseurl }}/products.html">
						<div class="btn btn-default btn-wacky" style="margin-top:65px;">See all products >></div>
					</a>
			</div><!-- col-md-3 -->  
		</div><!-- row -->
	</div><!-- container -->
</div><!-- products -->