<div class="wacky-products">
	<div class="row u-blue">
		<div class="container">
			<div class="row">
				<h4>Button products we make</h4>
			</div><!-- row -->
			<div class="row">
				{% include products/standard_pinback.html %}
				{% include products/refrigerator_magnet.html %}
				{% include products/clothing_magnet.html %}
				{% include products/bottle_opener.html %}
				{% include products/mirror.html %}
				{% include products/clip.html %}
			</div><!-- row -->
			<div class="row">
				{% include products/nothing.html %}
			</div><!-- row -->
		</div><!-- row -->
	</div><!-- container -->
</div><!-- wacky-products -->
<hr>