<!-- PRODUCTS MENU -->
<li class="dropdown yamm-fw">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Products <span class="caret"></span></a>
	<ul class="dropdown-menu" role="menu">
		<div class="yamm-content">
			<div class="row"> 
				<div class="col-md-3">
					<a href="#">
						<div class="thumbnail">
							<img src="http://www.wackybuttons.com/images/products/pinbackmouseover.jpg" class="img-responsive center-block">
							<h4>Standard Pinback</h4>
						</div><!-- thumbnail -->
					</a>
				</div><!-- col-md-3 -->  
				<div class="col-md-3">
					<a href="#">
						<div class="thumbnail">
							<img src="http://www.wackybuttons.com/images/products/magnetmouseover.jpg" class="img-responsive center-block">
							<h4>Refrigerator Magnet</h4>
						</div><!-- thumbnail -->
					</a>
				</div><!-- col-md-3 -->  
				<div class="col-md-3">
					<a href="#">
						<div class="thumbnail">
							<img src="http://www.wackybuttons.com/images/products/clothingmagnetsmouseover.jpg" class="img-responsive center-block">
							<h4>Clothing Magnet</h4>
						</div><!-- thumbnail -->
					</a>
				</div><!-- col-md-3 -->  
				<div class="col-md-3">
					<a href="#">
						<div class="thumbnail">
							<img src="http://www.wackybuttons.com/images/products/bottleopenermouseover.jpg" class="img-responsive center-block">
							<h4>Bottle Opener</h4>
						</div><!-- thumbnail -->
					</a>
				</div><!-- col-md-3 -->  
				<div class="col-md-3">
					<a href="#">
						<div class="thumbnail">
							<img src="http://www.wackybuttons.com/images/products/mirrormouseover.jpg" class="img-responsive center-block">
							<h4>Mirror</h4>
						</div><!-- thumbnail -->
					</a>
				</div><!-- col-md-3 -->  
				<div class="col-md-3">
					<a href="#">
						<div class="thumbnail">
							<img src="http://www.wackybuttons.com/images/products/clipmouseover.jpg" class="img-responsive center-block">
							<h4>Clip</h4>
						</div><!-- thumbnail -->
					</a>
				</div><!-- col-md-3 -->  	
				<div class="col-md-3">
					<a href="#">
						<div class="thumbnail">
							<img src="http://www.wackybuttons.com/images/products/nobackmouseover.jpg" class="img-responsive center-block">
							<h4>Nothing on back</h4>
						</div><!-- thumbnail -->
					</a>
				</div><!-- col-md-3 -->  
				<div class="col-md-3">
					<div class="thumbnail">
						<a href="#"><h4>Sizes</h4></a>
						<a href="#"><h4>Packaging options</h4></a>
						<a href="#"><h4>Machines</h4></a>
					</div><!-- thumbnail -->
					<a href="#">
						<button class="btn btn-default btn-wacky pull-right">See all products >></button>
					</a>
				</div><!-- col-md-3 -->           				                  				               				
			</div><!-- row -->
		</div><!-- yamm-content -->
	</ul>
</li>