<!-- CREATE MENU -->
<li class="dropdown yamm-fw">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Create <span class="caret"></span></a>
	<ul class="dropdown-menu" role="menu">
		<div class="yamm-content">
			<div class="row"> 
				<div class="col-md-12">	
					<div style="color:white;margin-bottom:15px;">
						Its Simple! Send us your button design using one of the options below.
					</div>
				</div><!-- col-md-12 -->
			</div><!-- row -->
			<div class="row"> 
				<div class="col-md-2">				
					<div class="thumbnail create-thumbnail">
						<a href="#">
						<!--img src="{{ site.baseurl }}/img/create/crtOp1.jpg" class="img-responsive center-block"-->
					<div class="create-icon">
						<span class="fa fa-pencil-square-o"></span>
					</div><!-- icon -->
						<h4 style="height:30px;">Design Your Buttons Online</h4>
						</a>
						<p>Design your own buttons using our online design studio. Use this option to order immediately!</p>
					</div><!-- thumbnail -->
				</div><!-- col-md-2 -->
				<div class="col-md-2">				
					<div class="thumbnail create-thumbnail">
						<a href="{{ site.baseurl }}/upload.html">
						<!--img src="{{ site.baseurl }}/img/create/crtOp2.jpg" class="img-responsive center-block"-->
					<div class="create-icon">
						<span class="fa fa-arrow-up"></span>
					</div><!-- icon -->
						<h4 style="height:30px;">Upload an Image</h4>
						</a>
						<p>Upload pictures or designs you created yourself. One of our artists will review your design for proper setup.</p>
					</div><!-- thumbnail -->
				</div><!-- col-md-2 -->
				<div class="col-md-2">				
					<div class="thumbnail create-thumbnail">
						<a href="{{ site.baseurl }}/letusdesign.html">
						<!--img src="{{ site.baseurl }}/img/create/crtOp3.jpg" class="img-responsive center-block"-->
					<div class="create-icon">
						<span class="fa fa-lightbulb-o"></span>
					</div><!-- icon -->
						<h4 style="height:30px;">Let us Design Your Buttons</h4>
						</a>
						<p>Tell us what your your buttons should look like. We will design them for FREE!</p>
					</div><!-- thumbnail -->
				</div><!-- col-md-2 -->
				<div class="col-md-2">				
					<div class="thumbnail create-thumbnail">
						<a href="#">
						<!--img src="{{ site.baseurl }}/img/create/crtOp4.jpg" class="img-responsive center-block"-->
					<div class="create-icon">
						<span class="fa fa-at"></span>
					</div><!-- icon -->
						<h4 style="height:30px;">Email us your design idea</h4>
						</a>
						<p>You can always just email us details on how you want your buttons to look.</p>
					</div><!-- thumbnail -->
				</div><!-- col-md-2 -->
				<div class="col-md-2">				
					<div class="thumbnail create-thumbnail">
						<a href="#">
						<!--img src="{{ site.baseurl }}/img/create/crtOp5.jpg" class="img-responsive center-block"-->
					<div class="create-icon">
						<span class="fa fa-envelope-o"></span>
					</div><!-- icon -->
						<h4 style="height:30px;">Mail us your design idea</h4>
						</a>
						<p>Send your pictures or ideas by regular mail (snail mail).</p>
					</div><!-- thumbnail -->
				</div><!-- col-md-2 -->
				<div class="col-md-2" style="border-left:2px solid white;">				
					<div class="thumbnail create-thumbnail">
						<a href="#">
							<!--image placeholder to be replaced later <div style="padding:15px;width:88px;height:100px;">OPTIONAL</div> end image place holder-->
							<div class="create-icon">
								<span class="fa fa-download"></span>
							</div><!-- create-icon -->
							<h4 style="height:30px;">Download a Template</h4>
						</a>
						<p>Save Time if you are able to design professionally by following these instructions.</p>
					</div><!-- thumbnail -->
				</div><!-- col-md-2 -->
			</div><!-- row -->			
			
			<div class="row"> 
			<div class="col-md-10">
			<!--div class="thumbnail"-->
			<div style="color:white;margin-bottom:15px;">
				<img src="http://www.wackybuttons.com/images/navbar/create/createoptionarrow.jpg" alt="" class="hidden-xs" style="max-width:100%;" /><br /> <br />
				All services are FREE! Setup your artwork first, then pay for your buttons when you are ready.</div>
			</div>
			<div class="col-md-2">
					<a href="{{ site.baseurl }}/create.html">
						<div class="btn btn-default btn-wacky pull-right">More details >></div>
					</a>
					</div><!-- col-md-3 -->
			</div><!-- row -->					
										
		</div><!-- yamm-content -->
	</ul>
</li>