        		<!--li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Order <span class="caret"></span></a>
								<ul class="dropdown-menu navbar-wacky-nav" role="menu">
								<li><a href="#">Start Designing Your Buttons</a></li>
								<li><a href="#">Order with a Design Code</a></li>
								<li><a href="#">Lookup past designs</a></li>
								<li><a href="#">My Reseller Account</a></li>
								</ul>		
						</li-->
						

<!-- Order MENU -->
<li class="dropdown yamm-fw">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Order <span class="caret"></span></a>
	<ul class="dropdown-menu" role="menu">
		<div class="yamm-content">
			<div class="row"> 

			
				<div class="col-md-3">				
					<div class="thumbnail order-thumbnail">
						<a href="{{ site.baseurl }}/create.html">
					<div class="order-icon">
						<span class="fa fa-pencil-square-o"></span>
					</div><!-- icon -->
						<h4>Start Designing</h4>
						</a>
						<p>If this is your first time ordering custom buttons then you will want to start here.</p>
					</div><!-- thumbnail -->
				</div><!-- col-md-3 -->
				
				
				<div class="col-md-3">				
					<div class="thumbnail order-thumbnail">
						<a href="{{ site.baseurl }}/store.html">
					<div class="order-icon">
						<span class="fa fa-tags"></span>
					</div><!-- icon -->
						<h4>Browse our Store</h4>
						</a>
						<p>Our catalog has thousands of buttons ready to order. You can also get ideas for buttons you want to create.</p>
					</div><!-- thumbnail -->
				</div><!-- col-md-3 -->
				
				
				<div class="col-md-3">				
					<div class="thumbnail order-thumbnail">
						<a href="#" data-toggle="modal" data-target="#dialog_win" onclick="design_code_order_window();">
					<div class="order-icon">
						<span class="fa fa-star"></span>
					</div><!-- icon -->
						<h4>Order by Design Code</h4>
						</a>
						<p>If you received an email with a Design Code, you can order here using the code you received.</p>
					</div><!-- thumbnail -->
				</div><!-- col-md-3 -->
				
				<div class="col-md-3">				
					<div class="thumbnail order-thumbnail">
						<a href="#" data-toggle="modal" data-target="#dialog_win" onclick="my_design_window();">
					<div class="order-icon">
						<span class="fa fa-binoculars"></span>
					</div><!-- icon -->
						<h4>Lookup past designs</h4>
						</a>
						<p>You can lookup any button design you ever created on our website by entering your email address.</p>
					</div><!-- thumbnail -->
				</div><!-- col-md-3 -->
				
				
				<!--div class="col-md-3">				
					<div class="thumbnail order-thumbnail">
						<a href="#">
					<div class="order-icon">
						<span class="fa fa-key"></span>
					</div><!-- icon -->
						<!--h4>Account Login</h4>
						</a>
						<p>If you have an account, you can view past orders and reorder here.</p>
					</div><!-- thumbnail -->
				<!--/div--><!-- col-md-3 -->

				
			</div><!-- row -->										
		</div><!-- yamm-content -->
	</ul>
</li>