<!-- NAVBAR -->
<nav class="navbar yamm navbar-default navbar-wacky" role="navigation">
	<div class="container">
    	<!-- Brand and toggle get grouped for better mobile display -->
    	<div class="navbar-header">
      		<button type="button" class="navbar-toggle navbar-wacky-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        		<span class="sr-only">Toggle navigation</span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
      		</button>
    	</div><!-- navbar-header -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      		<ul class="nav navbar-nav navbar-wacky-nav">
        		<li><a href="{{ site.baseurl }}/">Home</a></li>
				{% include navbar/navbar-products.html %}
        		<li><a href="{{ site.baseurl }}/prices.html">Prices/Turnaround</a></li>
        		{% include navbar/navbar-create.html %}
        		<li><a href="{{ site.baseurl }}/store.html">Store</a></li>
        		{% include navbar/navbar-order.html %}
        		<li><a href="{{ site.baseurl }}/help.html">Help</a></li>
				<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About Us <span class="caret"></span></a>
					<ul class="dropdown-menu navbar-wacky-nav" role="menu">
						<li><a href="#">Who we are</a></li>
						<li><a href="#">Our Blog</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
				</li>
      		</ul>
      		<!--ul class="nav navbar-nav navbar-right navbar-wacky-nav">
      			<li><a href="#"><span class="fa fa-shopping-cart"></span> Cart</a></li>
      		</ul-->
    	</div><!-- collapse navbar-collapse -->
  	</div><!-- container -->
</nav>