<!-- CREATE MENU -->
<li class="dropdown yamm-fw">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Create <span class="caret"></span></a>
	<ul class="dropdown-menu" role="menu">
		<div class="yamm-content">
			<div class="row"> 
				<div class="col-md-2">				
					<div class="thumbnail">
						<a href="#">
						<img src="http://www.wackybuttons.com/images/create/crtOp1.gif" class="img-responsive center-block">
						<h4>Design Your Buttons Online</h4>
						</a>
						<p>Design your own buttons using our online design studio. Use this option to order immediately!</p>
					</div><!-- thumbnail -->
				</div><!-- col-md-2 -->
				<div class="col-md-2">				
					<div class="thumbnail">
						<a href="#">
						<img src="http://www.wackybuttons.com/images/create/crtOp2.gif" class="img-responsive center-block">
						<h4>Upload Files</h4>
						</a>
						<p>Upload pictures or designs you created yourself. One of our artists will review your design for proper setup.</p>
					</div><!-- thumbnail -->
				</div><!-- col-md-2 -->
				<div class="col-md-2">				
					<div class="thumbnail">
						<a href="#">
						<img src="http://www.wackybuttons.com/images/create/crtOp3.gif" class="img-responsive center-block">
						<h4>Let us Design Your Buttons</h4>
						</a>
						<p>Tell us what you would like your buttons to look like and we will design them for you. Free of charge!</p>
					</div><!-- thumbnail -->
				</div><!-- col-md-2 -->
				<div class="col-md-2">				
					<div class="thumbnail">
						<a href="#">
						<img src="http://www.wackybuttons.com/images/create/crtOp4.gif" class="img-responsive center-block">
						<h4>Email us your design idea</h4>
						</a>
						<p>You can always just email us details on how you want your buttons to look.</p>
					</div><!-- thumbnail -->
				</div><!-- col-md-2 -->
				<div class="col-md-2">				
					<div class="thumbnail">
						<a href="#">
						<img src="http://www.wackybuttons.com/images/create/crtOp5.gif" class="img-responsive center-block">
						<h4>Mail us your design idea</h4>
						</a>
						<p>Send your pictures or ideas by regular mail (snail mail).</p>
					</div><!-- thumbnail -->
				</div><!-- col-md-2 -->
				<div class="col-md-2">				
					<div class="thumbnail">
						<p>FREE Customization</p>
						<p>Templates</p>
						<p>Have Questions?</p>
					</div><!-- thumbnail -->
					<a href="#">
						<button class="btn btn-default btn-wacky pull-right">More details >></button>
					</a>
				</div><!-- col-md-2 -->
			</div><!-- row -->										
		</div><!-- yamm-content -->
	</ul>
</li>